@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anonymous Pro";
}

body {
  height: 100vh;
}

#gameTable {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  display: flex;
  width: 600px;
  flex-wrap: wrap;
}

.block {
  width: 200px;
  height: 200px;
  outline: 1px solid black;
}

p {
  font-size: 178px;
  width: fit-content;
  height: fit-content;
  margin: auto;
}
.wins {
  display: flex;
  justify-content: space-between;
  width: 600px;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
}

.wins p {
  font-size: 40px;
  margin: 0;
}

button {
  font-size: xx-large;
  padding: 10px;
  border: 1px solid black;
  position: absolute;
  top: 0%;
  margin-top: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.win p {
  width: max-content;
  margin: auto;
}
.tie {
  width: min-content;
  margin: auto;
}
